.stat-card {
  display: flex; /* Use flexbox to ensure it stretches horizontally */
  flex-direction: row; /* Arrange items vertically */
  align-items: center; /* Center-align items horizontally */
  justify-content: space-between; /* Center-align items vertically */
  padding: 1em; /* Add padding for spacing */
  box-shadow: 0px 4px 20px 8px rgba(120, 123, 126, 0.548);
  border-radius: 10px; /* Add rounded corners */
  min-width: 100%; /* Ensure it occupies 100% width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}
.pointer{
  cursor: pointer; /* Show cursor pointer on hover */
}

.stat-card img {
  width: 50px; /* Adjust image width */
  height: 50px; /* Adjust image height */
  margin-bottom: 0.5em; /* Add space below the image */
}

.stat-card h1 {
  font-size: 1.2em; /* Adjust font size for stat name */
  margin: 0.5em 0; /* Add margin for spacing */
}

.stat-card h2 {
  font-size: 1.5em; /* Adjust font size for stat count */
  margin: 0; /* Remove margin to avoid extra spacing */
}
