.search-box{
    width: 50vw;
}
@media screen and (max-width: 768px) {
    .search-box{
        width: 60vw;
    }
}
@media screen and (max-width: 496px) {
    .search-box{
        width: 70vw;
    }
}