/* Generic Styling */
@mixin columnRowFlexStyling {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.coilumn-flex-styling {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.user-stats-wrapper{
  width: 100%;
}
.stat-card-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  gap: 1em
}
